<form action="/" method="GET" class="">
  <div>
    <input type="text" name="search" placeholder="Find your recipe" class="search-bar">
    <!--<input type="submit" value="Search" class="">-->
  </div>
</form>