<form action="/" method="POST" class="">
  <div class="container-search-bar">
    <input type="text" id="search-bar" name="search" placeholder="Find your recipe" class="search-bar"
      onkeyup="showResults(this.value)" placeholdes="SE">
    <!--<input type="submit" value="Search" class="">-->
    <div class="panel-recipies hide">
      <div class="bloc-recipies">
        <ul id="results"></ul>
        <span class="img-recipies">
          <img src="./images/riz-djon-djon.jpg" alt="">
        </span>
        <span class="name-recipies">Riz djon djon</span>
        <a href="/see-more" class="see-more-link">See more</a>
      </div>

      <div class="bloc-recipies">
        <span class="img-recipies">
          <img
            src="https://quoi-de-neuf-aujourdhui.seb.fr/wordpress/wp-content/uploads/2017/01/lot7_2_2_article-riz-v3_20.jpg"
            alt="">
        </span>
        <span class="name-recipies">Riz blanc</span>
        <a href="/see-more" class="see-more-link">See more</a>
      </div>

      <div class="bloc-recipies">
        <span class="img-recipies">
          <img src="https://lapetitemarmite.files.wordpress.com/2012/10/1-dsc_0116.jpg" alt="">
        </span>
        <span class="name-recipies">Riz cantonais & boeuf</span>
        <a href="/see-more" class="see-more-link">See more</a>
      </div>

      <div class="bloc-recipies">
        <span class="img-recipies">
          <img src="https://laguerite.fr/wp-content/uploads/2019/01/laguerite-fr-recette-riz-saute-poulet.jpg" alt="">
        </span>
        <span class="name-recipies">Riz sauté au poulet</span>
        <a href="/see-more" class="see-more-link">See more</a>
      </div>

      <div class="bloc-recipies">
        <span class="img-recipies">
          <img src="./images/riz-djon-djon.jpg" alt="">
        </span>
        <span class="name-recipies">Riz djon djon</span>
        <a href="/see-more" class="see-more-link">See more</a>
      </div>

    </div>
  </div>
</form>