<nav class="nav">
  <div class="logo"></div>
  <ul>
    <li class="nav-item"><a href="#">Favourite foods</a></li>
    <li class="nav-item"><a href="#">Added recipies</a></li>
    <li class="nav-item"><a href="#">Manage recipies</a></li>
    <li class="nav-item"><a href="#">Log In</a></li>
    <li class="nav-item"><a href="#">Log Out</a></li>
  </ul>
</nav>