.container-search-bar {
  width: 600px;
  margin: auto;
  display: block;
}

.search-bar {
  outline: none;
  border: none;
  position: absolute;
  width: 600px;
  max-width: 100%;
  padding: 15px;
  top: 90px;
  left: 50%;
  border: 1px solid #f0f0f0;
  transform: translateX(-50%);
}
