.container {
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
.nav {
  background: #fff;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 40px;
  color: #272a33;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-item a {
  padding: 30px 15px;
  display: block;
}

.nav-item a:hover,
.nav-item i:hover {
  transition: 0.3s ease;
  color: #cc0000;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  font-family: "overlock";
}

.flex-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-item {
  display: flex;
}

