<div class="bloc-favory">
  <div class="fav">
    <img
      src="https://dgi.shbcdn.com/blobs/variants/5/1/c/8/51c81954-8e96-4b02-8964-d98243e6036d_medium_p.jpg?_635591646715009025"
      alt="">
    <p class="fav-text">Favoris 1</p>
  </div>
  <div class="fav">
    <img src="https://www.designindaba.com/sites/default/files/vocab/topics/7/food-design-2016.jpg" alt="">
    <p class="fav-text">Favoris 2</p>
  </div>
  <div class="fav">
    <img src="https://c.stocksy.com/a/QDR400/z9/1057932.jpg?1551518661" alt="">
    <p class="fav-text">Favoris 3</p>
  </div>
  <div class="fav">
    <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/05/08/08/75597a9863b50b3.jpg" alt="">
    <p class="fav-text">Favoris 4</p>
  </div>
  <div class="fav">
    <img src="http://leptitgillot.com/wp-content/uploads/2014/07/photodune-6761938-food-background-on-dark-slate-m.jpg"
      alt="">
    <p class="fav-text">Favoris 5</p>
  </div>
  <div class="fav">
    <img
      src="https://www.larutadelsorigens.cat/wallpic/full/68-685965_ruchi-italian-pasta-vintage-food-design-background.jpg"
      alt="">
    <p class="fav-text">Favoris 6</p>
  </div>
  <div class="fav">
    <img src="http://backgroundcheckall.com/wp-content/uploads/2017/12/menu-card-plain-background-design-png-1.jpg"
      alt="">
    <p class="fav-text">Favoris 7</p>
  </div>
</div>