<div class="big-container manage-products-wrapper">
  <h3 class="manage-products-title">Manage your added recipes</h3>
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th colspan="1" class="table-head">Recipe Image</th>
        <th colspan="1" class="table-head">Recipe Name</th>
        <th colspan="1" class="table-head"> </a> Edit</th>
        <th colspan="1" class="table-head">Delete</th>
      </tr>

    </thead>
    <tbody>
    </tbody>
  </table>
</div>