<section class="see-more-about-recipies container">
  <div class="bloc-img-recipe">
    <img src="https://www.lacuisinedeva.com/wp-content/uploads/2017/04/nems-au-porc.jpg" alt="">
  </div>
  <div class="bloc-description-recipe container" data-aos="fade-right">
    <h2 class="title center">Nem asiatique</h2>
    <p class="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi quod ut possimus perspiciatis
      fuga, nam eius unde reprehenderit eos recusandae dolor a minus mollitia animi necessitatibus, provident numquam
      alias! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa modi quod ut possimus perspiciatis
      fuga, nam eius unde reprehenderit eos recusandae dolor a minus mollitia animi necessitatibus, provident numquam
    </p>
  </div>
  <div class="bloc-ingredient-country-recipe">
    <div class="overlay"></div>
    <div class="ingredients">
      <h2 class="title center">Vietnam</h2>
      <div class="bloc-flag">
        <img src="https://chine.in/usb/images/upload/images/flag-china-XL.jpg" alt="">
      </div>
      <div class="bloc-ingredient">
        <h3 class="bold black">Ingrédients:</h3>
        <ul class="container-ingredients center">
          <li class="list-ingredients">- 500 Riz blanc</li>
          <li class="list-ingredients">- 125g de jdon jdon</li>
          <li class="list-ingredients">- 250g de petits pois frais écossés</li>
          <li class="list-ingredients">- 6 cuillières à soupe d'huile</li>
          <li class="list-ingredients">- 1 grosse gousse d'aile écrasée</li>
          <li class="list-ingredients">- 1 bouquet garni</li>
          <li class="list-ingredients">- 1 piment bouc</li>
          <li class="list-ingredients">- Beurre</li>
          <li class="list-ingredients">- Sel et poivre</li>
        </ul>
      </div>
    </div>

  </div>
</section>