<div class="products-grid flexed-item">
  {{#each recipe}}
  <a href="/see-more/{{this._id}}" class="product-item-wrapper">
    <div class="product-img"><img src="{{this.image}}" alt="shoe"></div>
    <p class="product-name">{{this.name}}</p>
  </a>
  {{/each}}
</div>